<h1>YOUR BOOKS</h1>
<div  class="container1">
<% if @cart_items.present? %>
<% count = 0 %>
<% @cart_items.each do |cart_item| %>
    <div class="row"> 
    <p  class="r slno"><%= count += 1 %>.</p><br>
    <p class="r"> <%= cart_item.book.id %> </p>
    <p class="r"> <%= cart_item.book.name %> </p>
    <p class="r"><%= cart_item.book.author %></p>
    <p class="r">Rs. <%= cart_item.book.price %></p>
    <%= button_to '-',decrease_cart_item_path(book_id:cart_item.book_id) ,method: :put ,class:'  btn-light'%> 
    <p class="r"><%= cart_item.quantity %></p> 
    <%= button_to '+',increase_cart_item_path(book_id:cart_item.book_id) ,method: :put,class:'  btn-light' %>

  </div>
    <% end %>
    <% else %>
    <p class="p1">YOUR CART IS EMPTY :(</p>
<% end %>   
</div>

<div class="a">
<div class="total">total amount: <%= @total %> </div>
<%= button_to 'Pay',payment_index_path ,method: :get ,class: 'x btn btn-primary'%>

</div>



